# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so
*.egg
*.egg-info
dist/
build/
*.whl
env/
venv/
ENV/
.venv/

# Virtual Environments
.env/
.venv/
env/
venv/

# Terraform
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl

# Python and Terraform editor folders
.idea/
.vscode/

# Logs
*.log
